body {
    background-color: #fdfcfa;
}

.bg-inverse {
    background-color: #036bc2 !important;
}


/* FORM INPUT STYLES */
input.form-control {
    background: rgba(255, 255, 255, 0.8);
}
input.form-control:focus {
    background: rgba(255, 255, 255, 1.0);
}

/* FORM INPUT PLACEHOLDER STYLES */
input.form-control::-webkit-input-placeholder { /* Chrome */
  color: #888;
}
input.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #888;
}
input.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #888;
}
input.form-control:-moz-placeholder { /* Firefox 4 - 18 */
  color: #888;
}
input.form-control:focus::-webkit-input-placeholder { /* Chrome */
  color: #505050;
}
input.form-control:focus:-ms-input-placeholder { /* IE 10+ */
  color: #505050;
}
input.form-control:focus::-moz-placeholder { /* Firefox 19+ */
  color: #505050;
}
input.form-control:focus:-moz-placeholder { /* Firefox 4 - 18 */
  color: #505050;
}
